<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Malaika Z Charboneau Resume</title>
	
	<link rel="stylesheet" href="scripts/base/bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="scripts/base/bower_components/bootstrap/dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="styles/main.css">
</head>
<body id="index">

<!-- Begin Model -->
<div id="frmScreen" class="modal modal-dialog col-sm-6 frmScreen">
	<button id="btnClose" class="close btnClose" value="">&nbsp;</button>
	<form class="" onsubmit="return false;">
		<div class="modalSwatch col-sm-12"></div>
		<fieldset class="modal-content">
			<legend class="modal-title">Choose File</legend>
			<div class="modal-body">
				<p class="modal-title">Please Select a file type:</p>
				<ul id="modalListContainer">
					<li class="btn word">Word</li>
					<li class="btn pdf">PDF</li>
				</ul>
				<button id="btnClose1" class="btn btnClose1" value="">Close</button>
			</div>
		</fieldset>
	</form>
</div>
<!-- End Model -->

<!-- http://www.cheatography.com/masonjo/cheat-sheets/bootstrap/ -->
	<div id="testOnly"></div>
	<div class="container mainContainer">
		<div id="jumbotron" class="jumbotron h1">
			<div class="row variableData"></div>
			<div id="jsContainerBtnShowDownLoad" class="row center-block hide">
				<input id="btnShowDownloadForm" type="button" class="btn btnDownloadResume" value="Download My Resume" />
			</div>			

		</div><!-- .jumbotron -->	
		<div class="container">
			<div class="col-sm-6 columnLeft">
				<h4 class="bold cellHeader">EDUCATION</h4>
				<div class="row">
					<div class="col-xs-4">1999 - 2000</div>
					<div class="col-xs-8">
						<div class="col-sm-12 h5 bold">ARCHITECTURE DIPLOMA</div>
						<div class="col-sm-12">Pacific Design Academy</div>
						<div class="col-xs-9">Victoria, BC</div>
						<div class="col-xs-3 majorParenthesis">(Arch)</div>
					</div>					
				</div>

				<div class="row">
					<div class="col-xs-4">2000 - 2001 &amp; 2003 - 2004</div>
					<div class="col-xs-8">
						<div class="col-sm-12">South Dakota State Univesity</div>
						<div class="col-xs-9">Brookings, SD</div>
						<div class="col-xs-3 majorParenthesis">(Art)</div>
					</div>					
				</div>				

				<div class="row">
					<div class="col-xs-4">2001 - 2002</div>
					<div class="col-xs-8">
						<div class="col-sm-12">Dalhusie Univesity</div>
						<div class="col-xs-9">Halifax, NS</div>
						<div class="col-xs-3 majorParenthesis">(Arch)</div>
					</div>					
				</div>				

				<div class="row">
					<div class="col-xs-4">2005 - 2008</div>
					<div class="col-xs-8">
						<div class="col-sm-12 h5 bold">BFA</div>
						<div class="col-sm-12">Emily Carr Univesity of Art &amp; Design</div>
						<div class="col-xs-9">Vancouver, BC</div>
						<div class="col-xs-3 majorParenthesis">(Visual)</div>
					</div>					
				</div>								


				<h4 class="bold cellHeader">EXPERIENCE</h4>
				<div class="row experience">
					<div class="col-xs-4 col-md-3 bold">DirectWest <p>mysask411</p></div>
					<ul class="col-xs-8 col-md-9 topMostUl">
						<li>Built Digital Banners <p>Print Advertisments</p></li>
						<li>Fire Marshall - OH&amp;S Representative <p>Social Committee Chair</p></li>
					</ul>
					<div class="col-xs-4 col-md-3 bold">Bishop Murray</div>
					<ul class="col-xs-8 col-md-9">
						<li>Halloween Art Class <p>Taught Highschool Students the History of Masks and Mask Making</p></li>
					</ul>
				</div>


				<h4 class="bold cellHeader">VOLUNTEER</h4>
				<div class="row">
					<div class="col-xs-4">2008 - 2015</div>
					<div class="col-xs-8">
						<div class="col-sm-12">
							Women's MidLife Health Centre (Auction) 
							Art Donation &amp; Photographer Saskatoon, SK
						</div>
					</div>					
				</div>

				<div class="row">
					<div class="col-xs-4">2014</div>
					<div class="col-xs-8">
						<div class="col-sm-12">SaskArt</div>
						<div class="col-sm-12">
							Drove Saskatchewan Art to Scottsdal, AZ
							&amp; Participated in Exhibition
						</div>
					</div>					
				</div>

				<div class="row">
					<div class="col-xs-4">2015</div>
					<div class="col-xs-8">
						<div class="col-sm-12">
							Postered for AKA openings
						</div>
					</div>					
				</div>

				<div class="row">
					<div class="col-xs-4">2015 - press</div>
					<div class="col-xs-8">
						<div class="col-sm-12">Toastmasters</div>
						<div class="col-sm-12">Saskatoon, SK</div>
					</div>					
				</div>										

				<div class="row">
					<div class="col-xs-4">2015 - pres</div>
					<div class="col-xs-8">
						<div class="col-sm-12">Canadian Federation of University Women</div>
						<div class="col-sm-12">Publicity Chair Saskatoon, SK</div>
					</div>					
				</div>		

				<div class="row">
					<h4 class="bold cellHeader">HISTORY</h4>
					<div class="row">
						<div class="col-xs-4">2012 - pres</div>
						<div class="col-xs-8">
							<div class="col-sm-12">DirectWest Mysask411</div>
							<div class="col-sm-12"><span class="bold title">Artist/Marketing</span> <span class="floatRight">Saskatoon, SK</span></div>
						</div>					
					</div>		



					<div class="row">
						<div class="col-xs-4">2011 - 2010</div>
						<div class="col-xs-8">
							<div class="col-sm-12">NuFab Building Products</div>
							<div class="col-sm-12"><span class="bold title">Designer</span> <span class="floatRight">Saskatoon, SK</span></div>
						</div>					
					</div><!-- .row -->					

					<div class="row">
						<div class="col-xs-4">2008 - 2011</div>
						<div class="col-xs-8">
							<div class="col-sm-12">Self Employed</div>
							<div class="col-sm-12"><span class="bold title">Artist</span> <span class="floatRight">Saskatoon, SK</span></div>
						</div>					
					</div><!-- .row -->															


				</div>																						

			</div><!-- .columnLeft -->





			<div class="col-lg-6 columnRight"><!-- right hand column -->
					
				<div class="row">
					<h4 class="bold cellHeader col-md-12">ABOUT ME</h4>
					<ul class="col-md-12">
						<li class="">A community artist and supporter</li>
						<li class="">Participate in the ad that ran in the Star Phoenix supporting the gallery</li>
						<li class="">This gallery needs to be here</li>
						<li class="">Have been involved in the community since graduating from Emily Carr and moving to Saskatoon</li>
						<li class="">Helped DirectWest move towards the online world with marketing material as well as building creatives</li>
					</ul>	
				</div><!-- .row -->
		
				<div class="row">
					<h4 class="bold cellHeader hide">OBJECTIVE</h4>
					<div class="col-xs-6 objective">
						To help the Remai Modern Art Gallery of Saskatchewan succeed and make Saskatoon an art hub
					</div>									
				</div>


				<div class="row">
					<h4 class="bold cellHeader">SKILLS</h4>
						
						<div class="col-xs-6 progressContainer">
							<div class="progress">
								<div class="col-xx-12 progress-bar progress-bar0"></div>
							</div>									
							<div class="progress">
								<div class="col-xx-12 progress-bar  progress-bar1"></div>
							</div>				
							<div class="progress">
								<div class="col-xx-12 progress-bar  progress-bar2"></div>
							</div>
							<div class="progress">
								<div class="col-xx-12 progress-bar progress-bar3"></div>
							</div>
							<div class="progress">
								<div class="col-xx-12 progress-bar progress-bar4"></div>
							</div>																		


						</div>	



						<ul class="col-xs-6">
							<li>Photoshop</li>
							<li>Illustrator</li>
							<li>InDesign</li>
							<li>Outlook</li>
							<li>Word</li>
						</ul>							
				</div><!-- .row -->			

				<div class="row">
					<h4 class="bold cellHeader">REFERENCES</h4>
					<div class="col-xs-6 references">
						Upon Request
					</div>										
				</div>



				<div class="row">
					<h4 class="bold cellHeader">&#160;</h4>
					<div class="col-xs-6">
						<a href="http://www.MalaikaZCharbonneau.com">MalaikaZCharbonneau.com</a>
					</div>										
				</div>				
				
			</div><!-- .columnRight -->


		</div>

	<div id="screenModalBackground" class="screenModalBackground col-xs-12"></div>		
	</div> <!-- .container -->




	<script id="templateTry" type="text/template">
		<div class="row center-block"><%= anyVal %></div>
	</script>
	<script id="templateJumbotron" type="text/template">
		<div class="row center-block"><%= nameFirst %></div>
		<div class="row center-block"><%= nameMiddle %></div>
		<div class="row center-block"><%= nameLast %></div>
		<div class="row center-block">
			<input id="btnShowDownloadForm" type="button" class="btn btnDownloadResume" value="Download My Resume" />
		</div>
	</script>

	<script src="scripts/base/bower_components/jquery/dist/jquery.js"></script>
	<script src="scripts/base/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="scripts/base/bower_components/underscore/underscore.js"></script>
	<script src="scripts/base/bower_components/backbone/backbone.js"></script>
	<script src="scripts/util.js"></script>
	<script src="scripts/main.js"></script>

	


</body>
</html>